.popup__alert {
  color: #635854;
  font-style: italic;
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  margin: 50px 0 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .popup__alert {
    font-size: 14px;
  }
}

@media screen and (max-width: 845px) {
  .popup__alert {
    margin: 30px 0 0;
  }
}

@media screen and (max-width: 620px) {
  .popup__alert {
    margin: 15px 0 0;
    font-size: 12px;
  }
}