.popup__title {
  font-family: 'Bebas Neue Book', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 25px;
  color: #000000;
}

@media screen and (max-width: 845px) {
  .popup__title {
    margin: 20px 0 15px;
  }
}

@media screen and (max-width: 620px) {
  .popup__title {
    margin: 20px 0 0;
  }
}